.MemberDetails {
    color: black;
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 50%;
}
table, th, td {
    border:1px solid black;
    color: black;
    
}
table{
    border-collapse: collapse;
}
.MemberDetails{
    color: black;
}
.MemberDetails td,
.MemberDetails th {
  padding: 15px;
  cursor: pointer;
  border: 1px solid black;  /* Ensure border style is set */
  padding: 10px;             /* Add padding for spacing */
}
